<br>
<div class="content">
  <div class="col-md-12">
    <div style="background-color: rgb(249, 232, 249);" class="card">
      <div
      style="background-color: rgb(250, 133, 209); font-family: serif; font-weight: bolder;"
      class="card-header">
        <h5 style="color:white;" class="title">Add Car</h5></div>
        <div class="card-body">
          <form [formGroup]="carAddForm">

            <div style="font-family: serif;" class="mb-3">
              <label for="carName">Car Name</label>
              <div class="form-group">
                <input type="text"
                id="carName"
                formControlName="carName"
                class="form-control"
                placeholder="Car Name"/>
              </div>
            </div>

            <div style="font-family: serif;" class="mb-3">
              <label for="brandId">Brand</label>
              <div class="form-group">
                <input type="number"
                id="brandId"
                formControlName="brandId"
                class="form-control"
                placeholder="Brand"/>
              </div>
            </div>

            <div style="font-family: serif;" class="mb-3">
              <label for="colorId">Color</label>
              <div class="form-group">
                <input type="number"
                id="colorName"
                formControlName="colorId"
                class="form-control"
                placeholder="Color"/>
            </div>
          </div>
            <div style="font-family: serif;" class="mb-3">
              <label for="modelYear">Model Year</label>
              <div class="form-group">
                <input type="text"
                id="modelYear"
                formControlName="modelYear"
                class="form-control"
                placeholder="Model Year"/>
              </div>
            </div>

            <div style="font-family: serif;" class="mb-3">
              <label for="dailyPrice">Daily Price</label>
              <div class="form-group">
                <input type="number"
                id="dailyPrice"
                formControlName="dailyPrice"
                class="form-control"
                placeholder="Daily Price"/>
              </div>
            </div>

            <div style="font-family: serif;" class="mb-3">
              <label for="description">Description</label>
              <div class="form-group">
                <input type="text"
                id="description"
                formControlName="description"
                class="form-control"
                placeholder="Description"/>
              </div>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button
          style="font-family: serif; background-color: rgb(81, 206, 234);"
            class="btn btn-fill btn-warning"
            (click)="add()">
            Add
          </button>
        </div>
    </div>
  </div>
</div>
